html{
    background-color: bisque;
}
section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
    width: 90%;
}

article {
    border: 1px solid grey;
    width: 32%;
    height: 300px;
    margin: 0.5%;
    background-color: rgb(255, 244, 231);
    padding: 10px;
    box-sizing: border-box;
}

.eventos {
    display: flex;
    justify-content: center;
}

.nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    .userAvatar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        margin-top: 5px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            
        }
        img:hover{
            filter:brightness(90%);
        }
    }
    nav {
        text-align: center;
        width: 90%;

        a button {
            background-color: rgb(44, 44, 44);
            color: white;
            text-decoration: none;
            border: none;
            height: 100%;
            font-weight: bold;
            padding: 1%;
        }

        a button:hover {
            background-color: rgb(105, 105, 105);
        }
    }
}