section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
}

article {
    border: 1px solid grey;
    width: 33%;
}

.eventos {
    display: flex;
    justify-content: center;
}

nav {
    background-color: rgb(75, 75, 75);
    text-align: center;


    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 1%;
    }
}